{% extends 'Project_Template.html' %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block content %}

<body>
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Patio Covers and Enclosures</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
            <h4 class="text-muted mb-0">Patio Covers</h4>
              <p class="text-muted mb-0">
                You won’t find better weather than in Los Angeles.  Warm and sunny days and temperate nights are perfect for spending out on the patio.  Valley Builders can help you create a dream patio.  Whether it is a basic wood or aluminum patio covering or a fully enclosed patio, we will work with you to find the right covering to fit your need and your budget.  Having a nice patio not only adds functionality to your home, but it can also add value.  We offer a wide assortment of materials and design styles.  We work with lattice, vinyl, aluminum, glass and plastic covered patios as well as natural wood decks.

              </p>
              <p>  </p>
            </div>
        </div>

<div class="container gallery-container">
    <div class="tz-gallery">
        <div class = "row">
            <div class="col-md-6">
                <h4 align="center" class = "text-muted mb-0">Before</h4>

                <div class="card">
                    <a class="lightbox" href="{% static 'img/portfolio/fullsize/patios/before1.jpg' %}">
                    <img src="{% static 'img/portfolio/fullsize/patios/before1.jpg' %}" class="card-img-top">
                    </a>
                </div>
            </div>

            <div class="col-md-6">
                <h4 align="center" class = "text-muted mb-0">After</h4>

                <div class="card">
                    <a class="lightbox" href="{% static 'img/portfolio/fullsize/patios/after1.jpg' %}">
                    <img src="{% static 'img/portfolio/fullsize/patios/after1.jpg' %}" class="card-img-top">
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
          <div class="col-lg-12 text-center">
            <hr class="my-4">
                <h4 class="text-muted mb-0">Patio Enclosures</h4>
                <p class = "text-muted mb-0">
                Why spend those beautiful days cooped up in your house with the AC blaring?  Make the most of your summer by lounging in the cool shade.  And it is not just the summer days and nights you can enjoy outside under your patio, but you can also spend a cool or rainy day there too!  Keep nice and dry while enjoying a warm spring rain or entertain your family and friends while being shielded from the cool night air.  We can design and fully enclosed patio that can also serve as another living space.  Your possibilities are endless.  Give Valley Builders today for a free estimate on your next patio masterpiece!
            <p>  </p>
              <div class="container gallery-container">
                <div class="tz-gallery">
                    <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <a class="lightbox" href="{% static 'img/portfolio/fullsize/patios/1.jpg' %}">
                            <img src="{% static 'img/portfolio/fullsize/patios/1.jpg' %}" class="card-img-top">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <a class="lightbox" href="{% static 'img/portfolio/fullsize/patios/2.jpg' %}">
                            <img src="{% static 'img/portfolio/fullsize/patios/2.jpg' %}" class="card-img-top">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <a class="lightbox" href="{% static 'img/portfolio/fullsize/patios/3.jpg' %}">
                            <img src="{% static 'img/portfolio/fullsize/patios/3.jpg' %}" class="card-img-top">
                        </a>
                    </div>
                    </div>
                </div>
            </div>

              </div>
              </div>
            </section>
            </body>


    <!-- Bootstrap core JavaScript -->
    <script src=" {%static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{%static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{%static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{%static 'vendor/scrollreveal/scrollreveal.min.js' %}"></script>
    <script src="{%static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
    <script>
        baguetteBox.run('.tz-gallery');
    </script>


    {% endblock %}


    <!-- Bootstrap core JavaScript -->
    <script src=" {%static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{%static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{%static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{%static 'vendor/scrollreveal/scrollreveal.min.js' %}"></script>
    <script src="{%static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{%static 'js/creative.min.js' %}"></script>

</html>